<!DOCTYPE html>
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title Document
    body    
         p
            strong Email: 
            | #{email}
         p
            strong Imie: 
            | #{name}
         p
            strong Wiadomość: 
            | #{message}