<ng-container *ngIf="!isCookieLawConfirmed">
  <section class="cookie-law">
    <h3 class="cookie-law__text">We use cookies on our websites. You are free to manage this via your browser setting at
      any time. To learn more about
      how we use the cookies, please see our
      <a href="#" class="cookie-law__link">cookies policy</a>
    </h3>
    <button class="cookie-law__button" (click)="hideInformation()">&times;</button>
  </section>
</ng-container>
