@import 'main';

.cookie-law {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(#d6d6d6,0.8);
  z-index: 1000;
  padding: 20px;
  animation: 0.5s swypeUp linear;

  &__text {
      font-weight: normal;
      font-size: 16px;
  }

  &__link:link,
  &__link:visited {
    color: black;
    text-decoration: none;
    padding-bottom: 2px;
    border-bottom: 1px solid black;
  }

  &__button {
    position: absolute;
    right: 10px;
    top: 0px;
    background: transparent;
    border: 0;
    font-size: 40px;
    outline: 0;
    padding: 0;
    margin: 0;
    cursor: pointer;
  }

}
