@import 'main';

.tile {
  background-color: $white;
  padding: 20px;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  -ms-box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.06);
  transition: box-shadow 0.7s;
  border-radius: 2px;  
  &__header {
    font-weight: 500;
    font-size: 24px;
  }
  &:hover {
    -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    -ms-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
    box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.3);
  }
}
