<div class="tile">
  <div class="tile__header">
    <ng-content select="tile__header"></ng-content>
  </div>
  <div class="tile__content">
    <ng-content select="tile__content"> </ng-content>
  </div>
</div>
