<section class="contact">

  <header class="header">
    <h1 class="title header__title">Kontakt</h1>
  </header>

  <app-base-tile>
    <div class="tile tile--icons">
      <a href="#" class="tile__link" (click)="downloadCv($event)">
        <svg class="tile__icon" width="64pt" height="64pt" viewBox="0 0 64 64">
          <g>
            <path
              d="M 55.609375 13.722656 L 42.277344 0.390625 C 42.027344 0.140625 41.6875 0 41.332031 0 L 13.332031 0 C 10.390625 0 8 2.390625 8 5.332031 L 8 58.667969 C 8 61.609375 10.390625 64 13.332031 64 L 50.667969 64 C 53.609375 64 56 61.609375 56 58.667969 L 56 14.667969 C 56 14.3125 55.859375 13.972656 55.609375 13.722656 Z M 42.667969 4.550781 L 51.449219 13.332031 L 45.332031 13.332031 C 43.863281 13.332031 42.667969 12.136719 42.667969 10.667969 Z M 53.332031 58.667969 C 53.332031 60.136719 52.136719 61.332031 50.667969 61.332031 L 13.332031 61.332031 C 11.863281 61.332031 10.667969 60.136719 10.667969 58.667969 L 10.667969 5.332031 C 10.667969 3.863281 11.863281 2.667969 13.332031 2.667969 L 40 2.667969 L 40 10.667969 C 40 13.609375 42.390625 16 45.332031 16 L 53.332031 16 Z M 53.332031 58.667969 " />
            <path
              d="M 38.796875 39.140625 C 37.5625 38.171875 36.390625 37.171875 35.609375 36.390625 C 34.59375 35.375 33.6875 34.390625 32.902344 33.453125 C 34.128906 29.664062 34.667969 27.707031 34.667969 26.667969 C 34.667969 22.242188 33.066406 21.332031 30.667969 21.332031 C 28.84375 21.332031 26.667969 22.28125 26.667969 26.792969 C 26.667969 28.785156 27.757812 31.199219 29.917969 34.007812 C 29.386719 35.621094 28.765625 37.480469 28.070312 39.578125 C 27.734375 40.585938 27.367188 41.515625 26.984375 42.378906 C 26.667969 42.519531 26.363281 42.660156 26.070312 42.808594 C 25.011719 43.335938 24.003906 43.8125 23.070312 44.257812 C 18.8125 46.273438 16 47.605469 16 50.238281 C 16 52.148438 18.078125 53.332031 20 53.332031 C 22.480469 53.332031 26.222656 50.023438 28.957031 44.445312 C 31.796875 43.324219 35.324219 42.496094 38.109375 41.976562 C 40.339844 43.691406 42.804688 45.332031 44 45.332031 C 47.304688 45.332031 48 43.421875 48 41.820312 C 48 38.667969 44.398438 38.667969 42.667969 38.667969 C 42.128906 38.667969 40.6875 38.824219 38.796875 39.140625 Z M 20 50.667969 C 19.238281 50.667969 18.722656 50.308594 18.667969 50.238281 C 18.667969 49.292969 21.484375 47.957031 24.210938 46.664062 C 24.386719 46.582031 24.5625 46.5 24.738281 46.417969 C 22.738281 49.320312 20.757812 50.667969 20 50.667969 Z M 29.332031 26.792969 C 29.332031 24 30.199219 24 30.667969 24 C 31.609375 24 32 24 32 26.667969 C 32 27.230469 31.625 28.636719 30.9375 30.832031 C 29.890625 29.21875 29.332031 27.835938 29.332031 26.792969 Z M 30.355469 41.125 C 30.4375 40.894531 30.519531 40.660156 30.597656 40.421875 C 31.09375 38.9375 31.539062 37.605469 31.933594 36.402344 C 32.488281 37.011719 33.085938 37.636719 33.722656 38.277344 C 33.972656 38.527344 34.59375 39.089844 35.417969 39.792969 C 33.777344 40.152344 32.027344 40.59375 30.355469 41.125 Z M 45.332031 41.820312 C 45.332031 42.417969 45.332031 42.667969 44.097656 42.675781 C 43.734375 42.597656 42.894531 42.101562 41.855469 41.394531 C 42.234375 41.355469 42.511719 41.332031 42.667969 41.332031 C 44.636719 41.332031 45.195312 41.527344 45.332031 41.820312 Z M 45.332031 41.820312 " />
          </g>
        </svg>
        <span>Curriculum Vitae</span>
      </a>
      <a href="mailto:pawelkosowicz@wp.pl" class="tile__link">
        <svg class="tile__icon" width="64pt" height="64pt" viewBox="0 0 64 64">
          <g>
            <path
              d="M 58 8 L 6 8 C 2.691406 8 0 10.691406 0 14 L 0 50 C 0 53.308594 2.691406 56 6 56 L 58 56 C 61.308594 56 64 53.308594 64 50 L 64 14 C 64 10.691406 61.308594 8 58 8 Z M 58 12 C 58.273438 12 58.53125 12.054688 58.765625 12.15625 L 32 35.351562 L 5.234375 12.15625 C 5.46875 12.054688 5.726562 12 6 12 Z M 58 52 L 6 52 C 4.898438 52 4 51.101562 4 50 L 4 16.378906 L 30.6875 39.511719 C 31.066406 39.835938 31.535156 40 32 40 C 32.464844 40 32.933594 39.839844 33.3125 39.511719 L 60 16.378906 L 60 50 C 60 51.101562 59.101562 52 58 52 Z M 58 52 " />
          </g>
        </svg>
        <span>pawelkosowicz@wp.pl</span>
      </a>
      <a href="https://www.linkedin.com/in/pawelkosowicz" rel="noreferrer" target="_blank" class="tile__link">
        <svg class="tile__icon" width="64pt" height="64pt" viewBox="0 0 64 64">
          <g>
            <path
              d="M 47.75 61.5 L 3.75 61.5 C 3.0625 61.5 2.5 60.9375 2.5 60.25 L 2.5 3.75 C 2.5 3.0625 3.0625 2.5 3.75 2.5 L 6.25 2.5 C 6.941406 2.5 7.5 1.941406 7.5 1.25 C 7.5 0.558594 6.941406 0 6.25 0 L 3.75 0 C 1.683594 0 0 1.683594 0 3.75 L 0 60.25 C 0 62.316406 1.683594 64 3.75 64 L 47.75 64 C 48.441406 64 49 63.441406 49 62.75 C 49 62.058594 48.441406 61.5 47.75 61.5 Z M 47.75 61.5 " />
            <path
              d="M 60.25 0 L 16.25 0 C 15.558594 0 15 0.558594 15 1.25 C 15 1.941406 15.558594 2.5 16.25 2.5 L 60.25 2.5 C 60.9375 2.5 61.5 3.0625 61.5 3.75 L 61.5 60.25 C 61.5 60.9375 60.9375 61.5 60.25 61.5 L 57.75 61.5 C 57.058594 61.5 56.5 62.058594 56.5 62.75 C 56.5 63.441406 57.058594 64 57.75 64 L 60.25 64 C 62.316406 64 64 62.316406 64 60.25 L 64 3.75 C 64 1.683594 62.316406 0 60.25 0 Z M 60.25 0 " />
            <path
              d="M 15.40625 22.09375 C 19.042969 22.09375 22 19.136719 22 15.5 C 22 11.863281 19.042969 8.90625 15.40625 8.90625 C 11.769531 8.90625 8.8125 11.863281 8.8125 15.5 C 8.8125 19.136719 11.769531 22.09375 15.40625 22.09375 Z M 15.40625 11.40625 C 17.664062 11.40625 19.5 13.242188 19.5 15.5 C 19.5 17.757812 17.664062 19.59375 15.40625 19.59375 C 13.148438 19.59375 11.3125 17.757812 11.3125 15.5 C 11.3125 13.242188 13.148438 11.40625 15.40625 11.40625 Z M 15.40625 11.40625 " />
            <path
              d="M 43.03125 22.71875 C 40.269531 22.71875 37.601562 23.679688 35.46875 25.378906 L 35.46875 24.59375 C 35.46875 23.902344 34.910156 23.34375 34.21875 23.34375 L 25.5 23.34375 C 24.808594 23.34375 24.25 23.902344 24.25 24.59375 L 24.25 53.84375 C 24.25 54.535156 24.808594 55.09375 25.5 55.09375 L 34.6875 55.09375 C 35.378906 55.09375 35.9375 54.535156 35.9375 53.84375 L 35.9375 36.960938 C 35.9375 34.875 37.632812 33.179688 39.71875 33.179688 C 41.804688 33.179688 43.5 34.875 43.5 36.960938 L 43.5 53.84375 C 43.5 54.535156 44.058594 55.09375 44.75 55.09375 L 53.9375 55.09375 C 54.628906 55.09375 55.1875 54.535156 55.1875 53.84375 L 55.1875 34.875 C 55.1875 28.171875 49.734375 22.71875 43.03125 22.71875 Z M 52.6875 52.59375 L 46 52.59375 L 46 36.960938 C 46 33.496094 43.183594 30.679688 39.71875 30.679688 C 36.253906 30.679688 33.4375 33.496094 33.4375 36.960938 L 33.4375 52.59375 L 26.75 52.59375 L 26.75 25.84375 L 32.96875 25.84375 L 32.96875 28.46875 C 32.96875 29.011719 33.316406 29.492188 33.832031 29.660156 C 34.34375 29.828125 34.910156 29.644531 35.226562 29.207031 C 37.050781 26.710938 39.96875 25.21875 43.03125 25.21875 C 48.355469 25.21875 52.6875 29.550781 52.6875 34.875 Z M 52.6875 52.59375 " />
            <path
              d="M 10.8125 23.34375 C 10.121094 23.34375 9.5625 23.902344 9.5625 24.59375 L 9.5625 53.84375 C 9.5625 54.535156 10.121094 55.09375 10.8125 55.09375 L 20 55.09375 C 20.691406 55.09375 21.25 54.535156 21.25 53.84375 L 21.25 24.59375 C 21.25 23.902344 20.691406 23.34375 20 23.34375 Z M 18.75 52.59375 L 12.0625 52.59375 L 12.0625 25.84375 L 18.75 25.84375 Z M 18.75 52.59375 " />
            <path
              d="M 11.25 2.5 C 11.941406 2.5 12.5 1.941406 12.5 1.25 C 12.5 0.558594 11.941406 0 11.25 0 C 10.558594 0 10 0.558594 10 1.25 C 10 1.941406 10.558594 2.5 11.25 2.5 Z M 11.25 2.5 " />
            <path
              d="M 52.75 61.5 C 52.058594 61.5 51.5 62.058594 51.5 62.75 C 51.5 63.441406 52.058594 64 52.75 64 C 53.441406 64 54 63.441406 54 62.75 C 54 62.058594 53.441406 61.5 52.75 61.5 Z M 52.75 61.5 " />
          </g>
        </svg>
        <span>linkedin.com/in/pawelkosowicz</span>
      </a>
    </div>
  </app-base-tile>


  <app-base-tile>
    <div class="tile">
      <form (ngSubmit)="sendForm(form.value)" [formGroup]="contactForm" #form="ngForm" class="tile__form">

        <div class="tile__form-fields">

          <mat-form-field appearance="outline">
            <mat-label for="name">Imię*</mat-label>
            <input matInput type="text" id="name" formControlName="name" />
            <mat-error *ngIf="isFormFieldValid('name')">{{formValidatorService.validateField(contactForm.get('name'))}}
            </mat-error>
          </mat-form-field>

          <mat-form-field appearance="outline">
            <mat-label for="email">E-mail*</mat-label>
            <input matInput type="email" id="email" formControlName="email" />
            <mat-error *ngIf="isFormFieldValid('email')">
              {{formValidatorService.validateField(contactForm.get('email'))}}</mat-error>
          </mat-form-field>

        </div>

        <mat-form-field appearance="outline">
          <mat-label for="subject">Temat*</mat-label>
          <input matInput type="text" id="subject" formControlName="subject" />
          <mat-error *ngIf="isFormFieldValid('subject')">
            {{formValidatorService.validateField(contactForm.get('subject'))}}</mat-error>
        </mat-form-field>

        <mat-form-field appearance="outline">
          <mat-label for="message">Wiadomość*</mat-label>
          <textarea matInput rows="5" id="message" formControlName="message" class="message"></textarea>
          <mat-error *ngIf="isFormFieldValid('message')">
            {{formValidatorService.validateField(contactForm.get('message'))}}</mat-error>
        </mat-form-field>

        <div class="tile__form-buttons" *ngIf="!isSendingEmail">
          <button mat-flat-button color="primary" type="button" (click)="resetForm()">Wyczyść</button>
          <button mat-flat-button color="primary" type="submit" [disabled]="contactForm.invalid">Wyślij</button>
        </div>

        <ng-container *ngIf="isSendingEmail">
          <app-loader [width]="'50px'" [height]="'50px'"></app-loader>
        </ng-container>

        <ng-container *ngIf="showError">
          <app-server-error></app-server-error>
        </ng-container>

      </form>
    </div>
  </app-base-tile>

</section>
