@import 'main';

:host ::ng-deep .tile {
  margin-bottom: 10px;
}

:host ::ng-deep .error {
  padding: 20px 0;
}

.contact {

  .header {
    margin-bottom: 40px;
  }

  .tile {
    margin: 0;

    &--icons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    &__link {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-decoration: none;
      color: $text-color;
      transition: .3s all;
      margin-bottom: 15px;
      fill: #9E9E9E;

      &:hover {
        fill: $dark-red;
        color: $dark-red;
      }
    }

    &__icon {
      margin-bottom: 5px;
      width: 50px;
      height: 50px;
    }


    .mat-form-field {
      width: 100%;
    }

    .message {
      resize: none;
    }

    &__form {
      &-fields {
        display: flex;
        flex-direction: column;

        mat-form-field {
          &:first-child {
            margin-right: 10px;
          }
        }
      }

      &-buttons {
        display: flex;
        justify-content: flex-end;

        button:first-child {
          margin-right: 10px;
          background-color: $grey;
        }
      }
    }
  }
}

@media(min-width: $smartfon) {
  .contact {

    .tile {
      &--icons {
        flex-direction: row;
      }

      &__link {
        margin-bottom: 0;
      }

      &__form {
        &-fields {
          flex-direction: row;
        }
      }
    }

  }
}
