@import 'main';

:host ::ng-deep .tile {
  margin-bottom: 20px;
}

.skills {

  .header {
    margin-bottom: 40px;
  }

  .tile {
    font-size: 18px;

    &__header {
      padding-bottom: 15px;

      &-title {
        font-weight: 500;
      }
    }

    &__content {
      display: flex;
      flex-direction: column;
      .icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
        fill: #9E9E9E;
        transition: .3s all;
        &_image {
          width: 64px;
          height: 64px;
          margin-bottom: 5px;
        }
        &:hover {
          fill: $dark-red;
          color: $dark-red;
        }
      }
    }
  }
}

@media(min-width: $smartfon) {
  .skills {
   
    .tile {  
      &__content {
        display: flex;
        flex-flow: row wrap;
        .icon {            
          flex-basis: (100% / 3);
          &_image {
            margin: 10px 0;
          }
        }
      }
    }
  }
}