<section class="skills">

  <header class="header">
    <h1 class="title header__title">Umiejętności</h1>
  </header>

  <app-tile class="tile">
    <header ngProjectAs="tile__header" class="tile__header">
      <h2 class="tile__header-title">Front - End</h2>
    </header>

    <div ngProjectAs="tile__content" class="tile__content">
      <div class="icon">
        <svg width="64pt" height="64pt" viewBox="0 0 64 64" version="1.1"  class="icon_image">
            <path d="M 59.476562 0.648438 C 59.09375 0.234375 58.5625 0 58 0 L 6 0 C 5.4375 0 4.902344 0.234375 4.523438 0.648438 C 4.148438 1.0625 3.960938 1.617188 4.007812 2.171875 L 8.742188 56.171875 C 8.816406 57.003906 9.390625 57.695312 10.191406 57.925781 L 31.457031 63.925781 C 31.636719 63.976562 31.816406 64 32 64 C 32.183594 64 32.367188 63.976562 32.542969 63.929688 L 53.800781 57.933594 C 54.597656 57.703125 55.171875 57.007812 55.246094 56.179688 L 59.992188 2.175781 C 60.042969 1.617188 59.855469 1.0625 59.476562 0.648438 Z M 51.386719 54.453125 L 32 59.921875 L 12.605469 54.449219 L 8.183594 4 L 55.816406 4 Z M 51.386719 54.453125 "/>
            <path d="M 46 28 L 20 28 L 20 16 L 46 16 C 47.101562 16 48 15.105469 48 14 C 48 12.894531 47.101562 12 46 12 L 18 12 C 16.894531 12 16 12.894531 16 14 L 16 30 C 16 31.105469 16.894531 32 18 32 L 43.695312 32 L 42.195312 42.492188 L 32 45.890625 L 22 42.558594 L 22 38 C 22 36.894531 21.101562 36 20 36 C 18.894531 36 18 36.894531 18 38 L 18 44 C 18 44.859375 18.550781 45.625 19.367188 45.898438 L 31.367188 49.898438 C 31.570312 49.964844 31.789062 50 32 50 C 32.214844 50 32.421875 49.964844 32.632812 49.894531 L 44.632812 45.894531 C 45.351562 45.65625 45.871094 45.03125 45.980469 44.28125 L 47.980469 30.28125 C 48.0625 29.707031 47.890625 29.125 47.511719 28.6875 C 47.132812 28.253906 46.578125 28 46 28 Z M 46 28 "/>
        </svg>
        <span class="icon_description">HTML</span>
      </div>

      <div class="icon">
        <svg width="64pt" height="64pt" viewBox="0 0 64 64" version="1.1" class="icon_image">
            <path d="M 59.476562 0.648438 C 59.09375 0.234375 58.5625 0 58 0 L 6 0 C 5.4375 0 4.902344 0.234375 4.523438 0.648438 C 4.148438 1.0625 3.960938 1.617188 4.007812 2.171875 L 8.742188 56.171875 C 8.816406 57.003906 9.390625 57.695312 10.191406 57.925781 L 31.457031 63.925781 C 31.636719 63.976562 31.816406 64 32 64 C 32.183594 64 32.367188 63.976562 32.542969 63.929688 L 53.800781 57.933594 C 54.597656 57.703125 55.171875 57.007812 55.246094 56.179688 L 59.992188 2.175781 C 60.042969 1.617188 59.855469 1.0625 59.476562 0.648438 Z M 51.386719 54.453125 L 32 59.921875 L 12.605469 54.449219 L 8.183594 4 L 55.816406 4 Z M 51.386719 54.453125 "/>
            <path d="M 47.460938 12.632812 C 47.082031 12.226562 46.554688 12 46 12 L 18 12 C 16.894531 12 16 12.894531 16 14 C 16 15.105469 16.894531 16 18 16 L 43.863281 16 L 42.089844 42.527344 L 32 45.890625 L 22 42.558594 L 22 40 C 22 38.894531 21.101562 38 20 38 C 18.894531 38 18 38.894531 18 40 L 18 44 C 18 44.859375 18.550781 45.625 19.367188 45.898438 L 31.367188 49.898438 C 31.570312 49.964844 31.789062 50 32 50 C 32.214844 50 32.421875 49.964844 32.632812 49.894531 L 44.632812 45.894531 C 45.402344 45.640625 45.9375 44.945312 45.996094 44.132812 L 47.996094 14.132812 C 48.03125 13.578125 47.835938 13.035156 47.460938 12.632812 Z M 47.460938 12.632812 "/>
            <path d="M 44.917969 28 L 18.480469 28 C 17.375 28 16.480469 28.894531 16.480469 30 C 16.480469 31.105469 17.375 32 18.480469 32 L 44.917969 32 C 46.027344 32 46.917969 31.105469 46.917969 30 C 46.917969 28.894531 46.023438 28 44.917969 28 Z M 44.917969 28 "/>
        </svg>          
        <span class="icon_description">CSS</span>
      </div>

      <div class="icon">
        <svg width="85pt" height="64pt" viewBox="0 0 85 64" version="1.1" class="icon_image">
          <path d="M 73.140625 36.835938 C 70.183594 36.851562 67.613281 37.570312 65.460938 38.625 C 64.671875 37.054688 63.882812 35.65625 63.742188 34.628906 C 63.585938 33.433594 63.402344 32.703125 63.585938 31.273438 C 63.773438 29.84375 64.609375 27.808594 64.59375 27.652344 C 64.578125 27.496094 64.40625 26.765625 62.703125 26.75 C 61 26.734375 59.53125 27.078125 59.359375 27.527344 C 59.191406 27.976562 58.863281 29.003906 58.648438 30.0625 C 58.355469 31.617188 55.242188 37.164062 53.460938 40.070312 C 52.890625 38.9375 52.394531 37.941406 52.285156 37.148438 C 52.128906 35.953125 51.945312 35.222656 52.128906 33.792969 C 52.316406 32.363281 53.152344 30.324219 53.136719 30.167969 C 53.121094 30.015625 52.949219 29.285156 51.246094 29.269531 C 49.542969 29.253906 48.074219 29.59375 47.902344 30.046875 C 47.734375 30.496094 47.546875 31.554688 47.191406 32.578125 C 46.835938 33.605469 42.703125 42.867188 41.617188 45.261719 C 41.058594 46.492188 40.582031 47.46875 40.238281 48.136719 C 40.238281 48.136719 40.222656 48.183594 40.175781 48.261719 C 39.882812 48.835938 39.714844 49.148438 39.714844 49.148438 C 39.714844 49.148438 39.714844 49.148438 39.714844 49.164062 C 39.480469 49.582031 39.234375 49.972656 39.109375 49.972656 C 39.015625 49.972656 38.847656 48.851562 39.140625 47.328125 C 39.757812 44.113281 41.230469 39.105469 41.214844 38.9375 C 41.214844 38.84375 41.492188 37.972656 40.253906 37.523438 C 39.046875 37.070312 38.613281 37.816406 38.503906 37.816406 C 38.398438 37.816406 38.320312 38.082031 38.320312 38.082031 C 38.320312 38.082031 39.667969 32.453125 35.75 32.453125 C 33.304688 32.453125 29.929688 35.144531 28.257812 37.570312 C 27.203125 38.144531 24.957031 39.371094 22.558594 40.691406 C 21.644531 41.207031 20.699219 41.71875 19.816406 42.199219 C 19.757812 42.136719 19.695312 42.058594 19.632812 42 C 14.894531 36.914062 6.132812 33.324219 6.503906 26.5 C 6.640625 24.015625 7.492188 17.488281 23.332031 9.558594 C 36.367188 3.109375 46.742188 4.894531 48.539062 8.859375 C 51.109375 14.515625 42.980469 25.023438 29.511719 26.546875 C 24.371094 27.125 21.675781 25.132812 20.996094 24.386719 C 20.28125 23.609375 20.175781 23.5625 19.910156 23.71875 C 19.476562 23.953125 19.757812 24.652344 19.910156 25.054688 C 20.3125 26.113281 21.96875 27.976562 24.773438 28.894531 C 27.25 29.703125 33.273438 30.152344 40.566406 27.324219 C 48.722656 24.15625 55.101562 15.339844 53.230469 7.957031 C 51.355469 0.464844 38.96875 -2.003906 27.25 2.175781 C 20.28125 4.664062 12.726562 8.578125 7.292969 13.679688 C 0.835938 19.738281 -0.1875 25.007812 0.230469 27.214844 C 1.734375 35.050781 12.496094 40.148438 16.796875 43.925781 C 16.582031 44.050781 16.378906 44.160156 16.210938 44.253906 C 14.058594 45.324219 5.851562 49.628906 3.808594 54.183594 C 1.488281 59.34375 4.179688 63.042969 5.960938 63.542969 C 11.488281 65.082031 17.171875 62.3125 20.21875 57.742188 C 23.269531 53.175781 22.898438 47.238281 21.488281 44.515625 C 21.472656 44.484375 21.460938 44.453125 21.429688 44.421875 C 21.984375 44.097656 22.558594 43.753906 23.117188 43.429688 C 24.214844 42.777344 25.296875 42.167969 26.226562 41.671875 C 25.703125 43.117188 25.3125 44.84375 25.128906 47.328125 C 24.894531 50.25 26.089844 54.042969 27.652344 55.535156 C 28.347656 56.1875 29.167969 56.203125 29.695312 56.203125 C 31.523438 56.203125 32.34375 54.683594 33.257812 52.878906 C 34.371094 50.671875 35.378906 48.105469 35.378906 48.105469 C 35.378906 48.105469 34.125 55.039062 37.53125 55.039062 C 38.769531 55.039062 40.023438 53.421875 40.582031 52.597656 L 40.582031 52.613281 C 40.582031 52.613281 40.609375 52.566406 40.671875 52.460938 C 40.796875 52.257812 40.875 52.132812 40.875 52.132812 L 40.875 52.101562 C 41.371094 51.230469 42.484375 49.257812 44.140625 45.976562 C 46.277344 41.75 48.335938 36.464844 48.335938 36.464844 C 48.335938 36.464844 48.523438 37.753906 49.15625 39.898438 C 49.527344 41.160156 50.304688 42.542969 50.921875 43.878906 C 50.425781 44.578125 50.117188 44.96875 50.117188 44.96875 C 50.117188 44.96875 50.117188 44.96875 50.132812 44.984375 C 49.730469 45.511719 49.296875 46.085938 48.816406 46.644531 C 47.128906 48.667969 45.117188 50.980469 44.835938 51.652344 C 44.511719 52.445312 44.589844 53.019531 45.210938 53.484375 C 45.660156 53.828125 46.464844 53.875 47.285156 53.828125 C 48.800781 53.71875 49.871094 53.34375 50.394531 53.113281 C 51.214844 52.816406 52.175781 52.367188 53.074219 51.699219 C 54.730469 50.46875 55.738281 48.714844 55.644531 46.398438 C 55.597656 45.121094 55.179688 43.847656 54.667969 42.652344 C 54.824219 42.433594 54.964844 42.214844 55.117188 42 C 57.734375 38.160156 59.761719 33.945312 59.761719 33.945312 C 59.761719 33.945312 59.949219 35.238281 60.582031 37.382812 C 60.894531 38.46875 61.527344 39.652344 62.085938 40.800781 C 59.625 42.804688 58.105469 45.136719 57.566406 46.660156 C 56.589844 49.488281 57.347656 50.765625 58.789062 51.058594 C 59.4375 51.199219 60.367188 50.890625 61.046875 50.59375 C 61.914062 50.3125 62.9375 49.832031 63.914062 49.117188 C 65.570312 47.890625 67.164062 46.179688 67.070312 43.863281 C 67.023438 42.804688 66.746094 41.765625 66.359375 40.753906 C 68.449219 39.882812 71.144531 39.402344 74.582031 39.808594 C 81.949219 40.675781 83.40625 45.292969 83.125 47.238281 C 82.847656 49.179688 81.300781 50.234375 80.789062 50.5625 C 80.277344 50.890625 80.109375 50.996094 80.152344 51.230469 C 80.214844 51.574219 80.464844 51.558594 80.898438 51.496094 C 81.5 51.386719 84.769531 49.925781 84.90625 46.351562 C 85.140625 41.78125 80.804688 36.792969 73.140625 36.835938 Z M 16.289062 56.082031 C 13.839844 58.753906 10.433594 59.765625 8.964844 58.910156 C 7.386719 57.992188 8.003906 54.042969 11.007812 51.214844 C 12.835938 49.488281 15.1875 47.890625 16.753906 46.910156 C 17.109375 46.691406 17.636719 46.382812 18.269531 45.992188 C 18.378906 45.929688 18.441406 45.898438 18.441406 45.898438 C 18.5625 45.820312 18.6875 45.746094 18.8125 45.667969 C 19.910156 49.707031 18.859375 53.265625 16.289062 56.082031 Z M 34.09375 43.925781 C 33.242188 46.007812 31.460938 51.339844 30.378906 51.042969 C 29.449219 50.796875 28.875 46.753906 30.191406 42.761719 C 30.855469 40.753906 32.265625 38.359375 33.085938 37.429688 C 34.417969 35.9375 35.890625 35.4375 36.246094 36.046875 C 36.695312 36.835938 34.621094 42.621094 34.09375 43.925781 Z M 48.785156 50.980469 C 48.429688 51.167969 48.089844 51.292969 47.933594 51.199219 C 47.824219 51.136719 48.089844 50.890625 48.089844 50.890625 C 48.089844 50.890625 49.933594 48.898438 50.660156 48 C 51.078125 47.46875 51.574219 46.847656 52.097656 46.148438 L 52.097656 46.351562 C 52.097656 48.730469 49.808594 50.328125 48.785156 50.980469 Z M 60.121094 48.386719 C 59.855469 48.199219 59.902344 47.578125 60.785156 45.636719 C 61.125 44.875 61.929688 43.597656 63.308594 42.371094 C 63.464844 42.867188 63.570312 43.351562 63.554688 43.800781 C 63.539062 46.800781 61.40625 47.921875 60.121094 48.386719 Z M 60.121094 48.386719 "/>
        </svg>
        <span class="icon_description">SASS</span>
      </div>

      <div class="icon">
        <svg width="64pt" height="64pt" viewBox="0 0 64 64" class="icon_image">
          <path d="M 62.933594 0 L 1.066406 0 C 0.476562 0 0 0.476562 0 1.066406 L 0 62.933594 C 0 63.523438 0.476562 64 1.066406 64 L 62.933594 64 C 63.523438 64 64 63.523438 64 62.933594 L 64 1.066406 C 64 0.476562 63.523438 0 62.933594 0 Z M 61.867188 61.867188 L 2.132812 61.867188 L 2.132812 2.132812 L 61.867188 2.132812 Z M 61.867188 61.867188 "/>
          <path d="M 49.066406 56.535156 C 44.949219 56.535156 41.601562 53.183594 41.601562 49.066406 C 41.601562 48.476562 41.125 48 40.535156 48 C 39.945312 48 39.464844 48.476562 39.464844 49.066406 C 39.464844 54.359375 43.773438 58.667969 49.066406 58.667969 C 54.359375 58.667969 58.667969 54.359375 58.667969 49.066406 C 58.667969 43.773438 54.359375 39.464844 49.066406 39.464844 C 44.949219 39.464844 41.601562 36.117188 41.601562 32 C 41.601562 27.882812 44.949219 24.535156 49.066406 24.535156 C 53.183594 24.535156 56.535156 27.882812 56.535156 32 C 56.535156 32.589844 57.011719 33.066406 57.601562 33.066406 C 58.191406 33.066406 58.667969 32.589844 58.667969 32 C 58.667969 26.707031 54.359375 22.398438 49.066406 22.398438 C 43.773438 22.398438 39.464844 26.707031 39.464844 32 C 39.464844 37.292969 43.773438 41.601562 49.066406 41.601562 C 53.183594 41.601562 56.535156 44.949219 56.535156 49.066406 C 56.535156 53.183594 53.183594 56.535156 49.066406 56.535156 Z M 49.066406 56.535156 "/>
          <path d="M 26.667969 58.667969 C 31.960938 58.667969 36.265625 54.359375 36.265625 49.066406 L 36.265625 23.464844 C 36.265625 22.878906 35.789062 22.398438 35.199219 22.398438 C 34.609375 22.398438 34.132812 22.878906 34.132812 23.464844 L 34.132812 49.066406 C 34.132812 53.183594 30.78125 56.535156 26.667969 56.535156 C 22.550781 56.535156 19.199219 53.183594 19.199219 49.066406 C 19.199219 48.476562 18.722656 48 18.132812 48 C 17.542969 48 17.066406 48.476562 17.066406 49.066406 C 17.066406 54.359375 21.371094 58.667969 26.667969 58.667969 Z M 26.667969 58.667969 "/>
        </svg>
        <span class="icon_description">JavaScript</span>
      </div>

      <div class="icon">
        <svg viewBox="0 0 128 128" class="icon_image">
          <path d="M2,63.91v62.5H127V1.41H2Zm100.73-5a15.56,15.56,0,0,1,7.82,4.5,20.58,20.58,0,0,1,3,4c0,.16-5.4,3.81-8.69,5.85-.12.08-.6-.44-1.13-1.23a7.09,7.09,0,0,0-5.87-3.53c-3.79-.26-6.23,1.73-6.21,5a4.58,4.58,0,0,0,.54,2.34c.83,1.73,2.38,2.76,7.24,4.86,8.95,3.85,12.78,6.39,15.16,10,2.66,4,3.25,10.46,1.45,15.24-2,5.2-6.9,8.73-13.83,9.9a38.32,38.32,0,0,1-9.52-.1A23,23,0,0,1,80,109.19c-1.15-1.27-3.39-4.58-3.25-4.82a9.34,9.34,0,0,1,1.15-.73L82.5,101l3.59-2.08.75,1.11a16.78,16.78,0,0,0,4.74,4.54c4,2.1,9.46,1.81,12.16-.62a5.43,5.43,0,0,0,.69-6.92c-1-1.39-3-2.56-8.59-5-6.45-2.78-9.23-4.5-11.77-7.24a16.48,16.48,0,0,1-3.43-6.25,25,25,0,0,1-.22-8c1.33-6.23,6-10.58,12.82-11.87A31.66,31.66,0,0,1,102.73,58.93ZM73.39,64.15l0,5.12H57.16V115.5H45.65V69.26H29.38v-5a49.19,49.19,0,0,1,.14-5.16c.06-.08,10-.12,22-.1L73.33,59Z"/>
        </svg>
        <span class="icon_description">Typescript</span>
      </div>

      <div class="icon">
        <svg viewBox="0 0 32 32" width="64px" height="64px" class="icon_image">
          <path d="M 16 3.9355469 L 4.3613281 8.1679688 L 6.4492188 23.839844 L 16 29.144531 L 25.550781 23.837891 L 27.638672 8.1679688 L 16 3.9355469 z M 16 6.0644531 L 25.443359 9.4980469 L 23.699219 22.578125 L 16 26.855469 L 8.3007812 22.578125 L 6.5566406 9.4980469 L 16 6.0644531 z M 16 8 L 10 22 L 12 22 L 13.289062 19 L 18.710938 19 L 20 22 L 22 22 L 16 8 z M 16 12.550781 L 16.019531 12.609375 L 16.720703 14.359375 L 17.849609 17 L 14.150391 17 L 15.279297 14.359375 L 15.980469 12.609375 L 16 12.550781 z"/>
         </svg>
        <span class="icon_description">Angular</span>
      </div>      

    </div>

  </app-tile>

  <app-tile class="tile">
    <header ngProjectAs="tile__header" class="tile__header">
      <h2 class="tile__header-title">Narzędzia i Inne</h2>
    </header>

    <div ngProjectAs="tile__content" class="tile__content">
      <div class="icon">
        <svg viewBox="0 0 50 50" class="icon_image">
          <path d="M25 4c.566 0 1.098.219 1.496.621L45.38 23.504a2.112 2.112 0 0 1 0 2.992L26.496 45.38c-.398.402-.93.621-1.496.621a2.088 2.088 0 0 1-1.496-.621L4.62 26.496a2.112 2.112 0 0 1 0-2.992l12.32-12.32 2.274 2.273a5.98 5.98 0 0 0 1.543 5.785c.367.367.785.684 1.242.945v9.63A5.99 5.99 0 0 0 19 35c0 3.309 2.691 6 6 6s6-2.691 6-6a5.99 5.99 0 0 0-3-5.184v-7.574l1.215 1.215a5.98 5.98 0 0 0 1.543 5.785A5.963 5.963 0 0 0 35 31c1.602 0 3.11-.625 4.242-1.758a6.005 6.005 0 0 0 0-8.484 5.927 5.927 0 0 0-4.222-1.75c-.528 0-1.055.07-1.563.207l-2.672-2.672a5.98 5.98 0 0 0-1.543-5.785 5.927 5.927 0 0 0-4.222-1.75c-.528 0-1.055.07-1.563.207L21.184 6.94l2.32-2.32C23.902 4.22 24.434 4 25 4m0-2c-1.055 0-2.11.402-2.91 1.207l-3.735 3.734 4.622 4.622a4.055 4.055 0 0 1 2.043-.555c1.015 0 2.03.387 2.808 1.164a3.988 3.988 0 0 1 .606 4.848l4.543 4.543a4.055 4.055 0 0 1 2.043-.555c1.015 0 2.03.387 2.808 1.164A3.999 3.999 0 0 1 35 29a3.987 3.987 0 0 1-2.828-1.172c-1.317-1.316-1.508-3.316-.606-4.851l-4.543-4.543a3.88 3.88 0 0 1-1.023.421v12.286A3.99 3.99 0 0 1 29 35a4 4 0 0 1-8 0 3.99 3.99 0 0 1 3-3.86V18.856a3.955 3.955 0 0 1-1.828-1.027 3.988 3.988 0 0 1-.606-4.848l-4.625-4.625L3.207 22.09a4.112 4.112 0 0 0 0 5.82L22.09 46.793A4.093 4.093 0 0 0 25 48c1.055 0 2.11-.402 2.91-1.207L46.793 27.91a4.112 4.112 0 0 0 0-5.82L27.91 3.207A4.093 4.093 0 0 0 25 2z" id="surface1"/>
        </svg>
        <span class="icon_description">Git</span>
      </div> 
      
      <div class="icon">
        <svg class="icon_image" viewBox="0 0 576 512">
          <path d="M288 288h-32v-64h32v64zm288-128v192H288v32H160v-32H0V160h576zm-416 32H32v128h64v-96h32v96h32V192zm160 0H192v160h64v-32h64V192zm224 0H352v128h64v-96h32v96h32v-96h32v96h32V192z">
          </path>
        </svg>
        <span class="icon_description">Npm</span>
      </div>   

      <div class="icon">
        <svg  viewBox="0 0 496 512" class="icon_image">
          <path d="M490 241.7C417.1 169 320.6 71.8 248.5 0 83 164.9 6 241.7 6 241.7c-7.9 7.9-7.9 20.7 0 28.7C138.8 402.7 67.8 331.9 248.5 512c379.4-378 15.7-16.7 241.5-241.7 8-7.9 8-20.7 0-28.6zm-241.5 90l-76-75.7 76-75.7 76 75.7-76 75.7z">
          </path>
        </svg>
        <span class="icon_description">Jira</span>
      </div>   

    </div>

  </app-tile>
</section>
