@import 'main';

.search {
  position: relative;
  font-size: 1rem;

  &__control {
    &-input {
      border-radius: 5px;
      border: 1px solid #cacaca;
      padding: 15px 10px;
      outline: 0;
      width: 100%;
      font-size: 1rem;
      position: relative;      
      cursor: pointer;
    }

    &-icon {
      position: absolute;
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      color: gray;

      &--rotate {
        top: 30%;
        animation: 1s rotate infinite;
      }
    }
    &:focus {
      outline: none;
    }
  }

  &__dropdown {
    list-style: none;
    box-shadow: $default-box-shadow;
    background: white;
    position: absolute;
    left: 0;
    right: 0;
    z-index: 100;
    border-radius: 2px;

    &-item {
      padding: 15px;
      border-bottom: 1px solid #cacaca9e;
      cursor: pointer;
    }
  }
}
