<div class="search">

  <div class="search__control">
    <input type="text" class="search__control-input" (keypress)="onKeyPress($event)" 
    (input)="onInputChange($event.target.value)" 
    (click)="onInputClick($event.target.value)" 
    #input readonly="readonly"/>
    <mat-icon aria-hidden="false" class="search__control-icon search__control-icon--rotate" aria-label="icon" *ngIf="selectData.length === 0">sync</mat-icon>
    <mat-icon aria-hidden="false" class="search__control-icon" aria-label="icon" *ngIf="selectData.length > 0">search</mat-icon>
  </div>

  <ul class="search__dropdown" *ngIf="filteredData.length > 0">
    <li class="search__dropdown-item" *ngFor="let data of filteredData" 
    (click)="onSelectOption(data, input)">{{data}}</li>
  </ul>
</div>