<section class="projects">

  <header class="header">
    <h1 class="title header__title">Projekty</h1>
  </header>
  
  <div class="tile">
    <app-base-tile *ngIf="!!allProjects.length">

      <article class="tile-item" *ngFor="let project of allProjects">
        <h3 class="tile-item__title">{{project.title}}</h3>
        <div class="tile-item__container tile-item__container--image">
          <img src={{project.image}} alt="obrazek" class="image"/>
          <div class="tile-item__container tile-item__container--buttons">
            <button mat-flat-button color="primary" (click)="openNewPage(project.links.demo)">DEMO</button>
            <button mat-flat-button color="primary" (click)="openNewPage(project.links.code)">KOD</button>
        </div>
        </div>
        <p class="tile-item__description">{{project.description}}</p>
        <p class="tile-item__description tile-item__description--strong">{{project.technologies}}</p>
      
      </article>
    
    </app-base-tile>
  </div>

  <app-base-tile *ngIf="isLoading">
    <app-loader [width]="'50px'" [height]="'50px'"></app-loader>
  </app-base-tile>

  <app-base-tile *ngIf="showError">
    <app-server-error></app-server-error>
  </app-base-tile>

<section>
