@import 'main';

.tile ::ng-deep .tile {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px 10px;
    width: 100%;
    padding: 20px 40px !important;
}

.projects {
    .header {
        margin-bottom: 40px;
    }
    .tile {
        &-item {
            border-bottom: 1px solid #cacaca9e;
            padding: 10px 0;
            &__title {
                font-size: 20px;
                margin-bottom: 10px;
                font-weight: 500;
                text-align: center;
            }
            &__description {
                padding-top: 10px;
                &--strong {
                    font-weight: 600;
                }
            }
            &__container {
                &--image {
                  text-align: center;
                  position: relative;
                  &::before {
                      content: '';
                      display: block;
                      position: absolute;
                      top: 0;
                      width: 100%;
                      height: 100%;
                      background: rgba(#fff, 0.4);
                      z-index: 1;
                      opacity: 0;                      
                      transition: .2s opacity;
                  }
                  &:hover {
                      &::before {
                        opacity: 1;
                      }
                      & > .tile-item__container--buttons {
                        animation: swypeUp .2s ease-in;                        
                        opacity: 1;
                        z-index: 10;
                      }
                  }
                }
                &--buttons {
                    display: flex;
                    justify-content: center;
                    position: absolute;
                    top: 50%;
                    left: 0;
                    right: 0;
                    transform: translateY(-50%);
                    opacity: 0;
                    .mat-flat-button {
                        transform: scale(1.1);
                        &:first-child {
                            margin-right: 20px;
                        }
                    }
                }  
            }
                     
        }
    }   
    .image {
        width: 100%;
        padding: 20px;
        border: 5px solid #cacaca9e;                    
        cursor: pointer;
    } 
}

@media(min-width: $pc) {
    .tile ::ng-deep .tile {
        grid-template-columns: 50% 50%;
        grid-template-rows: 1fr;
        gap: 20px 40px;
    }
    .projects {
        .tile {
            &-item {
                border-bottom: none;
                &__container {
                    &--image {
                      height: 300px;
                    }
                }
            }
        }     

        .image {
            width: auto;
            padding: 20px;
            border: 5px solid #cacaca9e;                    
            cursor: pointer;
            height: 100%;
        } 
    }  
    
}