@import 'main';

:host ::ng-deep .tile {
  height: 100%;
}

.about {

  .header {
    margin-bottom: 40px;
  }

  .container {
    font-size: 16px;
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;

    .tile {
      &__title {
        padding-bottom: 15px;
        font-weight: 500;
      }

      &__list {
        &-item {
          display: flex;
          margin-bottom: 7px;
          font-weight: 500;

          span {
            &:first-child {
              flex-basis: 175px;
            }

            &:last-child {
              font-weight: 400;
              flex-basis: 100%;
            }
          }
        }

        &--feature {
          .tile__list-item {
            span {
              &:first-child {
                flex-basis: 200px;
              }
            }
          }
        }

      }
    }
  }

}

@media (min-width: $pc) {
  .about {
    .container {
      grid-template-columns: repeat(2, 1fr);
      gap: 40px;

      .tile {
        &:last-of-type {
          grid-column: 1/ span 2;
        }
      }
    }
  }
}
