<section class="about">

  <header class="header">
    <h1 class="title header__title">O mnie</h1>
  </header>

  <ng-container *ngIf="!showError && !isLoading">
    <div class="container">
      <app-tile class="tile" *ngIf="person">
        <header ngProjectAs="tile__header">
          <h2 class="tile__title">Podstawowe informacje</h2>
        </header>

        <div ngProjectAs="tile__content">
          <ul class="tile__list">
            <li class="tile__list-item">
              <span>Imie i Nazwisko: </span><span>{{person.name}}</span>
            </li>
            <li class="tile__list-item">
              <span>Email: </span><span>{{person.email}}</span>
            </li>
            <li class="tile__list-item">
              <span>Data urodzenia: </span><span>{{person.birthday  | date: 'dd.MM.yyyy'}}</span>
            </li>
            <li class="tile__list-item">
              <span>Adres: </span><span>{{person.adres}}</span>
            </li>
            <li class="tile__list-item">
              <span>Narodowść: </span><span>{{person.nationality}}</span>
            </li>
          </ul>
        </div>
      </app-tile>

      <app-tile class="tile">
        <header ngProjectAs="tile__header">
          <h2 class="tile__title">Cechy</h2>
        </header>

        <div ngProjectAs="tile__content">
          <ul class="tile__list tile__list--feature">
            <li class="tile__list-item" *ngFor="let feature of features">
              <span>{{feature.feature}}:</span><span>{{feature.description}}</span>
            </li>           
          </ul>
        </div>
      </app-tile>

      <app-tile class="tile" *ngIf="description">
        <header ngProjectAs="tile__header">
          <h2 class="tile__title">O mnie</h2>
        </header>

        <div ngProjectAs="tile__content" [innerHTML]="description" >
        </div>
      </app-tile>
    </div>
  </ng-container>

  <app-base-tile  *ngIf="isLoading">
    <app-loader [width]="'50px'" [height]="'50px'"></app-loader>
  </app-base-tile>

  <app-base-tile  *ngIf="showError">
    <app-server-error></app-server-error>
  </app-base-tile>

</section>
