@import 'main';

#wrapper {
  display: flex;
  min-width: 320px;
  color: $text-color;
  margin: 0 auto;
  max-width: 1280px;
  position: relative;
  min-height: 100vh;
  main {
    padding: 70px 20px;
    width: 100%;
  }
}

@media (min-width: $tablet) {
  #wrapper {
    main {
      padding: 50px 50px;
    }
  }
}
