<section class="interests">

  <header class="header">
    <h1 class="title header__title">Zainteresowania</h1>
  </header>

  <app-base-tile class="tile">

    <div class="tile__select">
      <app-select [selectData]="interestTypes" [defaultValueIndex]="1" (onSearchEmmit)="onSearchEvent($event)">
      </app-select>
    </div>
    
      <div class="tile__header" *ngIf="!isLoadingList && !showError">
        <h2 class="tile__header-title" *ngIf="pickDate">{{pickDate | date: 'yyyy'}}</h2>
      </div>

      <div class="tile__content">
          <ul class="tile__list" #contentList>
            
            <ng-container *ngFor="let singleInterest of interest?.interestList; let i = index">
              
                <li [ngClass]="(i%2==0)?'tile__list-item':'tile__list-item tile__list-item--reverse'">
                  <div class="tile__list-item__col-1-2">
                    <div class="tile__image" [ngStyle]="{'background-image': 'url(' + singleInterest.image + ')'}"></div>
                  </div>
                  <div class="tile__list-item__col-1-2">
                    <h3 class="tile__tile" *ngIf="singleInterest.fromDate !== singleInterest.toDate">
                      {{singleInterest.title}} {{singleInterest.fromDate | date: 'dd.MM'}} - {{singleInterest.toDate | date: 'dd.MM'}}
                    </h3>
                    <h3 class="tile__tile" *ngIf="singleInterest.fromDate === singleInterest.toDate">
                      {{singleInterest.title}} {{singleInterest.fromDate | date: 'dd.MM'}} 
                    </h3>
                    <p class="tile__text" [innerHTML]="singleInterest.description"></p>
                  </div>
                </li>
            
            </ng-container>
        
          </ul>
        <ng-container *ngIf="isLoadingList && !showError">
          <app-loader [width]="'50px'" [height]="'50px'"></app-loader>
        </ng-container>

        <ng-container *ngIf="showError">
          <app-server-error></app-server-error>
        </ng-container>

        <nav class="tile__navigation tile__navigation--vertical" [class.disabled]="isLoadingList || showError">
          <app-timeline-vertical [dates]="timelineDates" (scrollEventEmmiter)="scrollList($event)" (dateChangeEmmiter)="onDateChange($event)"></app-timeline-vertical>
        </nav>

      </div>

      <nav class="tile__navigation tile__navigation--horizontal" [class.disabled]="isLoadingList || showError">
        <app-timeline [dates]="timelineDates" (dateChangeEmmiter)="onDateChange($event)"></app-timeline>
      </nav>

  </app-base-tile>

</section>
