@import 'main';

$default-padding: 0 0 20px 0;

@mixin normal_grid {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
  align-items: center;
}

.interests {
  .header {
    margin-bottom: 40px;
  }

  .tile {
    &__select {
      padding: $default-padding;
    }

    &__header {
      display: flex;
      justify-content: center;
      font-size: 24px;
      position: sticky;
      background-color: white;
      z-index: 10;
      top: -1px;
      margin: 0 0 10px 0;
    }

    &__content {
      position: relative;
      padding: $default-padding;
      min-height: 250px;
      .tile__list {
        list-style: none;
        overflow-y: scroll;
        scrollbar-width: 10px;
        &-item {
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 1fr;
          padding: 10px 0;

          &:not(:last-of-type) {
            border-bottom: 1px solid #cacaca9e;
          }

          &__col-1-2 {
            width: 100%;
            .tile__image {
              background-repeat: no-repeat;
              background-size: cover;
              background-position: center;
              width: 100%;
              height: 300px;
            }
            .tile__tile {
              padding-bottom: 5px;
            }
          }

          > * {
            padding: 10px;
          }
        }

        &::-webkit-scrollbar {
          width: 6px !important;
        }
      }
    }

    &__navigation {
      padding: $default-padding;
      &--vertical {
        display: none;
      }

      &--horizontal {
        display: block;
      }

      &.disabled {
        pointer-events: none;
      }
    }

    &__loader {
      margin-top: 40px;
    }
  }
}

@media (min-width: $pc) {
  .interests {
    .tile {
      &__navigation {
        &--vertical {
          display: block;
          position: absolute;
          top: 0;
          bottom: 0;
          right: 0;
          transform: translateX(100%);
        }

        &--horizontal {
          display: none;
        }
      }

      &__content {
        .tile__list {
          scrollbar-width: 0px;
          scrollbar-width: none;
          &-item {
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows: 1fr;
            align-items: center;

            &--reverse {
              justify-items: center;

              .tile__list-item__col-1-2 {
                &:first-child {
                  order: 1;
                }

                &:last-child {
                  order: 0;
                }
              }
            }
          }
        }
      }
    }
  }
}
