<button class="navigation__button navigation__button--open" (click)="showNav(nav)" aria-label="Navigation open">
  <i class="fa fa-bars"></i>
</button>
<nav class="navigation" #nav>
  <header class="navigation__header">
    <button class="navigation__button navigation__button--close" (click)="hideNav(nav)" aria-label="Navigation close">
      <i class="fa fa-times"></i>
    </button>
    <div class="navigation__header-image"></div>
    <h1 class="navigation__header-name">Pawel Kosowicz</h1>
    <h4 class="navigation__header-title"><i>Front-End developer</i></h4>
  </header>
  <div class="navigation__items">
    <!-- <div class="nav-item" (click)="redirectToUrl('/',$event)">Start</div> -->
    <div class="navigation__items-item" (click)="redirectToUrl('about-me',$event)">O mnie</div>
    <div class="navigation__items-item" (click)="redirectToUrl('skills',$event)">Umiejętności</div>
    <div class="navigation__items-item" (click)="redirectToUrl('projects',$event)">Projekty</div>
    <div class="navigation__items-item" (click)="redirectToUrl('interests',$event)">Zainteresowania</div>
    <div class="navigation__items-item" (click)="redirectToUrl('contact',$event)">Kontakt</div>
  </div>
</nav>
