@import 'main';

@mixin menu-item-active {
  background-color: rgba($white, 0.9);
  color: $light-red;
  font-weight: 700;
}

.navigation {
  width: 250px;
  background-color: $dark-red;
  color: $white;
  position: fixed;
  height: 100vh;
  z-index: 100;
  transform: translateX(-100%);
  transition: 0.7s;
  overflow: auto;
  scrollbar-width: none;

  &__button {
    display: block;
    background-color: white;
    outline: 0;
    border: 0;
    font-size: 1rem;
    cursor: pointer;
    color: $dark-red;
    &--open {   
      height: 60px;
      width: 60px;
      position: fixed;
      z-index: 10;
      top: 0;
      left: 0;
      bottom: 0;      
      box-shadow: 1px 1px 2px 0px rgba(0,0,0,0.1);
    }
    &--close {      
      height: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
    }
  }

  &__header {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
    &-image {
      background-image: url("../../../../assets/img/me.jpg");
      background-position: -10px center;
      background-size: cover;
      background-repeat: no-repeat;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin: 30px 0px;
    }
    &-name {
      font-size: 26px;
      line-height: 1.2em;
    }
    &-title {
      font-weight: normal;
    }
  }

  
  &__items {
    text-align: center;
    font-size: 16px;
    padding: 0px 20px 40px 20px;
    &-item {
      line-height: 3.5em;
      padding: 0px 10px;
      cursor: pointer;
      border-top: 1px solid $white;
      font-weight: 600;
      transition: 0.7s;
      &:last-of-type {
        border-bottom: 1px solid $white;
      }
      &:hover {
        @include menu-item-active;
      }
      &.active {
        @include menu-item-active;
      }
    }
  }
  &::-webkit-scrollbar {
    width: 0px;
    background: transparent;
  }  

}

@media (min-width: $tablet) {

  .navigation {
    width: 300px;
    position: sticky;
    transform: translateX(0%) !important;
    top: 0;
    &__button {
      &--close,
      &--open {
        display: none;
      }
    }

    &__header {
      &-image {
        margin: 50px 0px 20px 0;
        width: 200px;
        height: 200px;
      }
    }
  }
}
