@import 'main';

:host ::ng-deep .timeline {
  border-left: 2px solid $material-grey;
  border-bottom: 0;
  flex-direction: column;
  height: 100%;  

  &__up,
  &__down {
    display: block;    
  }
  
  &__item {

    &::after {
      left: 0;
      top: 50%;
      transform: translate(-50%, -50%);
      z-index: 100;
    }

  }
}
