<ul class="timeline">
  <button class="timeline__up" holdable (holdTime)="onScrollUp($event)">
    <svg width="64pt" height="64pt" viewBox="0 0 64 64" class="icon" (click)="onScrollUp()">
      <path
        d="M 62.976562 42.726562 L 34.46875 14.222656 C 33.8125 13.5625 32.933594 13.203125 31.976562 13.203125 C 31.039062 13.203125 30.160156 13.5625 29.5 14.222656 L 1.019531 42.699219 C 0.363281 43.359375 0 44.238281 0 45.175781 C 0 46.113281 0.363281 46.992188 1.019531 47.652344 L 3.117188 49.75 C 3.777344 50.410156 4.65625 50.773438 5.59375 50.773438 C 6.53125 50.773438 7.410156 50.410156 8.070312 49.75 L 31.984375 25.835938 L 55.929688 49.777344 C 56.585938 50.4375 57.464844 50.796875 58.402344 50.796875 C 59.339844 50.796875 60.21875 50.4375 60.878906 49.777344 L 62.976562 47.679688 C 64.339844 46.3125 64.339844 44.09375 62.976562 42.726562 Z M 62.976562 42.726562 " />
    </svg>
  </button>
  <ng-container *ngFor="let timeline of timelineDate">
    <li class="timeline__item" (click)="onDateChange(timeline.date)" [class.active]="timeline.selected === true">
      {{timeline.date | date: 'yyyy'}}
    </li>
  </ng-container>
  <button class="timeline__down" holdable (holdTime)="onScrollDown($event)">
    <svg width="64pt" height="64pt" viewBox="0 0 64 64" class="icon" (click)="onScrollDown()">
      <path
        d="M 56.453125 12.226562 L 32 36.679688 L 7.546875 12.226562 L 0 19.773438 L 32 51.773438 L 64 19.773438 Z M 56.453125 12.226562 " />
    </svg>
  </button> 
</ul>
