@import 'main';

.timeline {
  list-style: none;
  border-bottom: 2px solid $material-grey;
  display: flex;
  justify-content: space-around;
  position: relative;

  &__up,
  &__down {
    display: none;
    position: absolute;
    font-size: 60px;
    border: 0;
    outline: 0;
    background: transparent;
    fill: $material-grey;
    .icon {
      width: 40px;
      height: 40px;
      transition: 0.3s all;
      cursor: pointer;
      &:hover {
        fill: $dark-red;
      }
    }
  }

  &__up {
    top: 0;
    transform: translate(-52%, -50%);
  }

  &__down {
    bottom: 0;
    transform: translate(-52%, 40%);
  }

  &__item {
    height: 20px;
    padding: 0px 15px;
    position: relative;

    &::after {
      content: '';
      display: block;
      background-color: $material-grey;
      border-radius: 50%;
      width: 20px;
      height: 20px;
      position: absolute;
      left: 50%;
      bottom: 0;
      transform: translate(-50%, 50%);
      transition: 0.3s all;
      cursor: pointer;
    }

    &.active {
      color: $dark-red;
      cursor: pointer;
      font-weight: 700;
      &::after {
        border: 2px solid $dark-red;
        background-color: white;
      }
    }
  }
}
