@mixin circle ($width, $height) {
  width: $width;
  height: $height;
  border-radius: 50%;
}

.loader {
  display: flex;
  justify-content: center;

  div {
    &:first-child {
      position: absolute;
      border: 5px solid #E9E9E9;
      @include circle(20px, 20px);
    }

    &:last-child {
      border: 5px solid grey;
      border-color: grey grey transparent transparent;
      z-index: 10;
      animation: rotate 2s infinite;
      @include circle(20px, 20px);
    }
  }
}
