/* You can add global styles to this file, and also import other style files */
@import './assets/styles/variables';
@import './assets/styles/animation';
@import './assets/styles/components/_header';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Dosis", Arial, Helvetica, sans-serif;
  letter-spacing: 0.5px;
}
body {
    background-color: #F5F5F5;
    color: $text-color;
}